<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <h1>Home</h1>

    <br>
    <h2>ADMIN</h2>
    <a href="/loginadmin">Login</a>
    <a href="/registeradmin">Register</a>

    <br>
    <h2>USER</h2>
    <a href="/loginuser">Login</a>
    <a href="/registeruser">Register</a>
</body>

</html>